/* This file is for your main application css. */

.help-block {
  /*background-color: red;*/
  color: red;
  text-transform: capitalize;
  position: absolute;
  top: 45px;
}

.form-group {
  position: relative;
  margin-bottom: 36px;
}
